<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio manager</title>
    <link rel="stylesheet" href="bliKunde.css">
</head>
<body>
    <div id="topBar">
        <h1>Anders</h1>
        <div id="menuLeft">
            <a href="/"><h2 id="h2">ValhallaCapital</h2></a>
            <a href="#" id="meny1">Børs & marked</a>
            <a href="#" id="meny1">Tjenester</a>
            <a href="#" id="meny1">Kundeservice</a>
        </div>
        <div id="menuRight">
            <button id="meny2">Bli kunde</button>
            <a href="logInn">
                <button id="meny2">Logg inn</button>
            </a>            
            <a href="#" id="meny1">Søk:</a>
            <input type="text">
        </div>
    </div>
    <div id="BliKundeSide">
        <p id = "bliKunde">Email:</p><input id = "bliKunde">
        <p id = "bliKunde">Brukernavn:</p><input id = "bliKunde">
        <p id ="bliKunde">Passord:</p><input id = "bliKunde">
        <p id = "bliKunde">Repeter Passord:</p><input id = "bliKunde">
        <button type="submit"> Registrer </button>
        </div>
    </div>
</body>
</html>


//CSS sjvfjhcsvdkskcbjdabljl
