<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio manager</title>
    <link rel="stylesheet" href="bliKunde.css">
</head>
<body>
    <div>
        <%- include(`../views/frontend`) %>
    </div>
    </div>
    <div id="BliKundeSide">
        <p class="bliKunde">Email:</p><input class="bliKunde">
        <p class="bliKunde">Brukernavn:</p><input class="bliKunde">
        <p class="bliKunde">Passord:</p><input class="bliKunde">
        <p class="bliKunde">Repeter Passord:</p><input class="bliKunde">
        <button type="submit"> Registrer </button>
    </div> 
</body>
</html>



