<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio manager</title>
    <link rel="stylesheet" href="bliKunde.css">
</head>
<body>
    <div>
        <%- include(`../views/frontend`) %>
    </div>
    <div id="BliKundeSide">
        <p id = "bliKunde">Email:</p><input id = "bliKunde">
        <p id = "bliKunde">Brukernavn:</p><input id = "bliKunde">
        <p id ="bliKunde">Passord:</p><input id = "bliKunde">
        <p id = "bliKunde">Repeter Passord:</p><input id = "bliKunde">
        <button type="submit"> Registrer </button>

        </div>
    </div>
</body>
</html>
