<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="hjemmeside.css">
</head>
<body>
    <div>
        <%- include(`../partials/frontend`) %>
    </div>
    <div id="innhold">
        <h1>Din vei til trygg investering</h1>
        <h2>Det skal være enkelt og inspirerende å investere for alle</h2><br>
        <button class="button-85">Kom i gang</button>
    </div>
</body>
</html>
