<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio manager</title>
    <link rel="stylesheet" href="logInn.css">
</head>
<body>
    <div>
        <%- include(`../views/partials/frontend`) %>
    </div>
    <div id="LogInnSide">
        <p id="logInnSide">Brukernavn:</p><input id="logInnSide">
        <p id="logInnSide">Passord:</p><input id="logInnSide">
        <button type="submit" id="logInnSide"> Logg inn </button>
        <a href="bliKunde"><p>Ikke kunde enda? Trykk her</p></a>
        </div>
    </div>
</body>
</html>
