<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio manager</title>
    <link rel="stylesheet" href="../../public/frontend.css">
</head>
<body>
    <div id="topBar">
        <div id="menuLeft">
            <a href="/"><h2 id="h2">ValhallaCapital</h2></a>
            <a href="https://www.dn.no/investor/" id="meny1">Børs & marked</a>
            <a href="#" id="meny1">Tjenester</a>
            <a href="#" id="meny1">Kundeservice</a>
        </div>
        <div id="menuRight">
            <a href="bliKunde"><button id="meny2">Bli kunde</button></a>
            <a href="logInn">
                <button id="meny2">Logg inn</button>
            </a>            
            <a href="#" id="meny1">Søk:</a>
            <input type="text">
        </div>
    </div>
</body>
</html>